<!doctype html>
<html lang="{{ locale }}" data-fonts-loaded="{{{ fontsLoaded }}}">
<head>
  <meta charset="utf-8">
  <title>Example</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{{ fontFace }}}
  {{{ noScriptStyle }}}
  {{{ resourceHint }}}
  {{{ style }}}
  {{{ script }}}
  <style>
  .measure {
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: min(90%, 600px);
    font-size: 1.15rem;
    line-height: 1.5;
  }

  * {
    font-size: inherit;
    margin: 0;
  }

  html {
    margin: 1rem;
  }

  .vh {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }

  [data-menu-component] {
    position: relative;
    display: inline-block;
  }

  label {
    display: inline-block;
  }

  [role="menu"] ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  [data-opens-menu], [role="menu"] a {
    line-height: 1;
    text-align: left;
    background: black;
    border: 0;
    color: #fff;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
  }

  [type="checkbox"]:focus + [data-opens-menu], [role="menu"] a:focus {
    outline: none;
    background: darkBlue;
  }

  :checked + label .expanded-text {
    display: inline;
  }

  :checked + label .collapsed-text {
    display: none;
  }

  [type="checkbox"]:not(:checked) + label .expanded-text {
    display: none;
  }

  [type="checkbox"]:not(:checked) + label .collapsed-text {
    display: inline;
  }

  [role="menu"] {
    position: absolute;
    left: 0;
    display: none;
  }

  :checked ~ [role="menu"] {
    display: block;
  }

  [data-menu-origin="right"] {
    left: auto;
    right: 0;
  }

  [role="menu"] a {
    display: block;
    min-width: 100%;
    margin-top: 0.125rem;
    white-space: nowrap;
  }
  </style>
</head>
<body>

<div data-menu-component>
  <input type="checkbox" role="button" aria-haspopup="true" id="toggle" class="vh">
  <label class="sans-serif" for="toggle" data-opens-menu>
    &#x2630; Language
    <span class="vh expanded-text sans-serif">expanded</span>
    <span class="vh collapsed-text sans-serif">collapsed</span>
  </label>
  <div role="menu" data-menu-origin="left">
    <ul>
      <li><a class="sans-serif" href="/en">English</a></li>
      <li><a class="sans-serif" href="/ru">Russian</a></li>
    </ul>
  </div>
</div>
